@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{

    --cor0: #e7daaf;
    --cor1: #b99e44;
    --cor2: #08208d;
    --cor3: #f2b9ed;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: rgb(25, 53, 212);
    --cor7: rgb(107, 128, 241);
    --cor8: rgb(193, 199, 229);
    --cor9: rgb(244, 248, 4);
}

/*body {
    background: var(--cor9);
    background-size: cover;
    
}*/
body {
    background: var(--cor8);
    background-image: url("logoCANILtrans.png");
}
    a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

    header img.pequena {
        max-width: 700px;
        width: 100%;
        margin: auto;}
    header {
    background-image: linear-gradient(to bottom, var(--cor8), var(--cor7), var(--cor6) ); 
    min-height: 30px;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 25px;
    border-radius: 15px 15px 0px 0px;
    }

    nav {
        background-color: var(--cor6);
        padding: 10px;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
        border-radius: 0px 0px 15px 15px;
    
    }
    
    nav > a{
    
    color: var(--cor9);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    }
    
    nav > a:hover {
        background-color: var(--cor3);
        color: red;
        
    }
    main h1 {
        text-align: center; color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
       text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.299);
    }
    main h3 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
        color: red;
        font-size: 2em;
        text-shadow: 3px 3px 3px black; 
    }

    main p{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        margin: 15px 0px;
        text-align: center;
        text-indent: 30px;
        font-size: 1.5em;
        line-height: 2em;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.299);
    }
    video {
         
        position: relative;
        height: 50vh;
        left: 50%;
        transform: translate(-50%);
        
    }

    article h1, h2 {
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        text-indent: 30px;
        font-size: 2em;
        line-height: 2em;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.299);
    }

    section img{
        

        max-width: 150px;
       margin: 15px;
       
        

    }

    section img{
        

        max-width: 150px;
       margin: center
    ;
       
        

    }

    main img {
        margin: auto;    
          
          max-width: 150px;
          
       
    }

    div h1 {
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.299);
    }
    section {
        
        text-align: center;
        text-indent: 20px;
        font-size: 1.5em;
        line-height: 0.5em;
    }

    article img{       
           max-width: 150px;
           margin: 15px;
           margin: 15px; 
            
                 
         }

         article img.conc {       
            max-width: 150px;
            margin: 15px;
            margin: 15px; 
             border: solid 2px black;
             box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
                  
          }
         article {
            
            text-align: center;
            text-indent: 20px;
            font-size: 1em;}
            

        div img{       
           max-width:250px;
           margin: 15px; 
           /* border: solid 2px black;
            box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);*/
                 
         }

         div picture img {
            max-width:300px;
            margin: 15px; 
         }

         div picture img.pequena {
            max-width:300px;
            margin: 15px;
         }
        div {
            
            text-align: center;
            text-indent: 20px;
            font-size: 1em;

    }

        ul {
        color: black;    
        text-align: left;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.0em;
    }
    #linktopo {
        text-decoration: none;
        color: white;
        background-color: var(--cor4);
        padding: 10px;
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
    